@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: rubik, sans-serif;
}

.form-control-border-radius {
  border-radius: 15px 0 0 15px;
}

.button-border-radius {
  border-radius: 0 15px 15px 0;
}

.h-map {
  height: 500px;
}

.h-search-bar {
  height: 300px;
}

.bg-search-bar {
  background-image: url('./assets/pattern-bg-mobile.png');
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .bg-search-bar {
    background-image: url('./assets/pattern-bg-desktop.png');
  }
}
